exportPattern("^[[:alpha:]]+")
S3method(draw,cell)
S3method(cof,cell)
S3method(concatenation,list)
S3method(concatenation,double)
S3method(concatenation,character)
S3method(rotation,cell)
S3method(concatenation,integer)
export(draw.cell)
export(cof.cell)
export(rotation.cell)
