exportPattern("^[[:alpha:]]+")
S3method(draw,figure)
S3method(cof,figure)
S3method(concatenation,list)
S3method(concatenation,double)
S3method(concatenation,character)
S3method(rotate,figure)
S3method(reflect,figure)
S3method(size,figure)
S3method(shape, figure)
S3method(logic, figure)
S3method(identity, figure)
S3method(fill, figure)
S3method(concatenation,integer)
export(draw.figure)
export(cof.figure)
export(rotate.figure)
export(reflect.figure)
export(size.figure)
export(shape.figure)
export(logic.figure)
export(identity.figure)
export(fill.figure)
