exportPattern("^[[:alpha:]]+")
S3method(draw,figure)
S3method(draw,matriks)
S3method(cof,figure)
S3method(show,figure)
S3method(hide,figure)
S3method(replace,figure)
S3method(concatenation,list)
S3method(concatenation,double)
S3method(concatenation,character)
S3method(rotate,figure)
S3method(reflect,figure)
S3method(size,figure)
S3method(shape, figure)
S3method(logic, figure)
S3method(identity, figure)
S3method(shade, figure)
S3method(split_mat, figure)
S3method(concatenation,integer)
S3method(com, matriks)
S3method(correct, matriks)
export(draw.figure)
export(draw.matriks)
export(cof.figure)
export(rotate.figure)
export(reflect.figure)
export(size.figure)
export(shape.figure)
export(logic.figure)
export(identity.figure)
export(shade.figure)
export(split_mat.figure)
export(show.figure)
export(hide.figure)
export(replace.figure)
export(com.matriks)
export(correct.matriks)
